<a href="https://colab.research.google.com/github/GAYATHRI-100/HACKTHON-INNOMATICS/blob/main/Annomatics_Task_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Problem 1: Unique Words in a Sentence

In [3]:
s=input("Enter sentece: ")
words = s.split()
unique_words = set(words)
print("Unique words count: " , len(unique_words))
print("Unique words: ", unique_words)

Enter sentece: python is easy and python is powerful
Unique words count:  5
Unique words:  {'is', 'easy', 'python', 'and', 'powerful'}

Problem 2: Highest Salary from Employee Data

In [7]:
employees = {}  #At initial create a new dictionary

n = int(input("Enter number of employees: "))

for i in range(n):
    name = input("Enter employee name: ")
    salary = float(input("Enter salary: "))
    employees[name] = salary

# Find highest salary
highest_paid_employee = max(employees, key=employees.get)
highest_salary = employees[highest_paid_employee]

print("Highest Salary:", highest_paid_employee, "-", highest_salary)

Enter number of employees: 3
Enter employee name: Ravi
Enter salary: 75000
Enter employee name: Anita
Enter salary: 68000
Enter employee name: Kiran
Enter salary: 72000
Highest Salary: Ravi - 75000.0

Problem 3: Find Maximum and Minimum Values

In [8]:
# Given list of numbers
numbers = [45, 22, 89, 10, 66]

# Initialize max and min with the first element
max_number = numbers[0]
min_number = numbers[0]

# Loop through the list
for num in numbers:
    if num > max_number:
        max_number = num
    if num < min_number:
        min_number = num

# Print results
print("List:", numbers)
print("Max:", max_number)
print("Min:", min_number)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

Problem 4: Count Products Above a Price Threshold

In [10]:
# List of product prices
prices = [450, 1200, 899, 1500, 300]

# Initialize count at initial is to 0
count = 0

# Loop through prices
for i in prices:

  if i > 1000:

    count = count + 1

# Print result
print("Products above 1000:", count)

Products above 1000: 2

Problem 5: Calculate Attendance Percentage

In [11]:
# Attendance list
attendance = ["P", "P", "A", "P", "P"]

# Count total days and present days
total_days = len(attendance)
present_count = 0

for i in attendance:

  if i == "P":

    present_count = present_count + 1

# Calculate attendance percentage
attendance_percentage = (present_count / total_days) * 100

# Print result
print("Attendance Percentage:", attendance_percentage)

Attendance Percentage: 80.0

Problem 6: Remove Duplicate Phone Numbers

In [12]:
# List of phone numbers (with duplicates)
phone_numbers = [9876543210, 9123456789, 9876543210]

# Convert list to set to remove duplicates
unique_phone_numbers = set(phone_numbers)

# Print unique phone numbers
print("Unique phone numbers:", unique_phone_numbers)

Unique phone numbers: {9876543210, 9123456789}

Problem 7: Count Character Frequency

In [14]:
# Input string
text = input()

# Create an empty dictionary
char_count = {}

# Loop through each character
for ch in text:
    if ch in char_count:
        char_count[ch] += 1
    else:
        char_count[ch] = 1

# Print the result
print(char_count)

ppython
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

Problem 8: Convert List to Tuple

In [15]:
# Given list
list = [10, 20, 30]

# Convert list to tuple
Tuple = tuple(list)

# Display the tuple
print("Tuple:", Tuple)

Tuple: (10, 20, 30)

Problem 9: Check if a Key Exists in a Dictionary

In [16]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

key = input("Enter employee name to check: ")

if key in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Enter employee name to check: Anita
Employee exists

Problem 10: Calculate Average Marks

In [17]:
# List of marks
marks = [70, 75, 80, 65]

# Calculate sum and total subjects
total = sum(marks)
no_subjects = len(marks)

# Calculate average
average_marks = total / no_subjects

# Print result
print("Average Marks:", average_marks)

Average Marks: 72.5